node_modules
dist
dist-ssr
*.local
.vscode
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.env.*
*.sqlite
*.sqlite-journal
*.tsbuildinfo
Thumbs.db
Desktop.ini
uploads
.claude
.git
.gitignore
Dockerfile
.dockerignore
README.md
